
@{
    ViewData["Title"] = "RegisterDish";
}

<h1>Register Dish</h1>

<form method="post" action="/dish/confirmation/">
    <span>@ViewBag.ErrorMessage</span><br/>
    Your Name: <input type="text" name="name"/><br/><br/>
    Phone Number: <input type="text" placeholder="XXX-XXX-XXXX" name="phone"/><br/>
    <span class="text-danger">@ViewBag.DishNameMessage</span><br/>
    Dish Name: <input type="text" name="dishname"/><br/><br/>
    Dish Description: <input type="text" name="dishDesc"/><br/><br/>
    Category:
    <select name="category" required> 
        <option></option>
        <option>Appetizer</option>
        <option>Salad</option>
        <option>Main</option>
        <option>Dessert</option>
        <option>Beverage</option>
    </select> <br/><br/>
    <input type="submit"/>
</form>


