@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Potluck!</h1>
    <h2>Would you like to..</h2>
    <a href="/Member/RSVPForm/">RSVP</a> or <a href="/Dish/RegisterDish/">Bring a Dish</a>
</div>
